*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-grid{
    max-width: 1000px;
    margin: 0 auto;
}

 .theme-dark{
--backgroundColor: #141D2F;
--backgroundColorCards:#1E2A47;
--textColor: #fff;
}

.theme-light{
    --textColor: black;
    --backgroundColor: #fff;

}

body{
    overflow-x: hidden;
}


header{
    background-color: #D7D4FF;
    height: 100vh;
  margin-top: 70px;
  padding: 40px;

    
}

.header-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.header-style__info{
    width: 300px;
    
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.header-style__info>h1{
    font-size: 2rem;
}

.header-style__info>p{
    font-size: 1rem;
    color: #555555;
}

.header-style__info>button{
    width: 120px;
    height: 50px;
    color: white;
    background-color: #6C63FF;
    border-radius: 8px;
    border: none;
}

.header-style__image>img{

    width: 300px;
    height: 300px;
}


.main-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 50px;
    background-color: var(--backgroundColor);
}

.header-style__fixedheader{

    position: fixed;
    background-color: #D7D4FF;
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.135);
    height: 70px;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--backgroundColorCards);
    color: var(--textColor);

    
}

#handleNavbar{
    border: none;
    background-color: transparent;
}


.bi{
   font-size: 40px;
}

.header-style__links{

    background-color: white;
    background-color: var(--backgroundColor);
    position: absolute;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 90%;
    /* propriedades para realizar a animação dos links */

transform: translateX(-100%);
transition: all 0.3 ease;
display: block;

}

.header-style__links.open{
transform: translateX(0%);


}

.header-style__links>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.header-style__links>ul>li>a{
text-decoration: none;
color: black;
transition: linear .5s all;
color: var(--textColor);
}

.header-style__links>ul>li>a:hover{
    background-color:orange;
    border-radius: 8px;
    padding: 20px;
    color: white;
}



#handleNavbar2{
    border: none;
    background-color: transparent;
}


.header-style__links2{

    background-color: white;
    background-color: var(--backgroundColor);
    position: absolute;
    top: 70px;
    right: 0;
    height: 100vh;
    width: 90%;
    /* propriedades para realizar a animação dos links */

transform: translateX(100%);
transition: all 0.3 ease;
display: block;

}

.open2{
transform: translateX(0);


}

.header-style__links2>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.header-style__links2>ul>li>a{
text-decoration: none;
color: black;
transition: linear .5s all;
color: var(--textColor);
}

.header-style__links2>ul>li>a:hover{
    background-color: red;
    border-radius: 8px;
    padding: 20px;
    color: white;
}


[class^="card-style__bg"] {
    width: 100%;
    height: 150px;
}

.card-style__bg1{
    background-color: #FF6363;
}
.card-style__bg2{
    background-color: #63ECFF;
}
.card-style__bg3{
    background-color: #F363FF;
}
.card-style__bg4{
    background-color: #63FF73;
}
.card-style__bg5{
    background-color: #FFDD63;
}
.card-style__bg6{
    background-color: #6663FF;
}

.card-style{
    width: 250px;
    box-shadow: 6px 10px 10px  rgba(0, 0, 0, 0.135);
}

.card-style__infos{
    padding: 20px;
}

.card-style__infos>p{
    color: #555555;
    margin-top: 15px;
}

@media screen and (max-width:414px) and (orientation:landscape){

}

    .header-style{
    flex-direction: column;
    gap: 90px;
}
  

    .header-style__info>p{
        line-height: 30px;
    }
    header{
        height: 100vh;
    }
    .main-card{
        width: 80%;
        padding: 0;
        margin-top: 30px;

    }
    .card-style{
        height: 100%;
    }


.input1{
    border-radius: 10px,40px;
    background: #6C63FF;
    width: 20rem;
    height: 2rem;  
    color: white;
    
}

.article-style{
    display: flex;
    justify-content: center;


}

footer{
    background-color: #D7D4FF;
    height: 400px;

   
}
 
input{
border: none;
font-family: Arial, Helvetica, sans-serif;
width: 20rem;
height: 1rem;
border-radius: 3px;
cursor: pointer;
color: #6E7275;
padding-left: 1rem;
align-items: center;
padding: 20px;




}

.input2{
   width: 20rem;
   height: 5rem;
}

.div-flex{
    margin-top: 30px;
}
    

